[submodule "Frameworks/Alamofire"]
	path = Frameworks/Alamofire
	url = git@github.com:Alamofire/Alamofire.git
[submodule "Frameworks/Masonry"]
	path = Frameworks/Masonry
	url = git@github.com:SnapKit/Masonry.git
[submodule "Frameworks/Nimble"]
	path = Frameworks/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "Frameworks/Quick"]
	path = Frameworks/Quick
	url = git@github.com:Quick/Quick.git
[submodule "Frameworks/AlamofireNetworkActivityIndicator"]
	path = Frameworks/AlamofireNetworkActivityIndicator
	url = git@github.com:Alamofire/AlamofireNetworkActivityIndicator.git
