github "Alamofire/Alamofire" ~> 4.8.0
github "Alamofire/AlamofireImage" ~> 3.5.0
github "Alamofire/AlamofireNetworkActivityIndicator" ~> 2.3.0
github "flipboard/FLEX" ~> 2.4.0
github "Quick/Quick"                        # Use lastest version
github "Quick/Nimble"                       # Use lastest version
github "stephencelis/SQLite.swift" ~> 0.12.0
github "SnapKit/Masonry.git" ~> 1.1.0
github "ReSwift/ReSwift" ~> 5.0.0
