<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integration</key>
	<dict>
		<key>api-token</key>
		<string>token</string>
		<key>serverURL</key>
		<string>https://www.booknomads.com/api/v0</string>
		<key>basePath</key>
		<string>/api</string>
	</dict>
	<key>production</key>
	<dict>
		<key>api-token</key>
		<string>2138901234h12kg435</string>
		<key>serverURL</key>
		<string>http://production.domain.com</string>
		<key>basePath</key>
		<string>/api</string>
	</dict>
	<key>staging</key>
	<dict>
		<key>api-token</key>
		<string>adsfaf232323c4kjhg234l76</string>
		<key>serverURL</key>
		<string>http://pre.domain.com</string>
		<key>basePath</key>
		<string>/api</string>
	</dict>
</dict>
</plist>
