<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integration</key>
	<dict>
		<key>api-token</key>
		<string>a42b6d2f81c8ca1d0c30e5c99149b8f5</string>
		<key>private-api-token</key>
		<string>a23b10d30b1a2b726bd2873baa26a0a7220382e6</string>
		<key>serverURL</key>
		<string>https://gateway.marvel.com</string>
		<key>basePath</key>
		<string>/v1/public</string>
	</dict>
	<key>production</key>
	<dict>
		<key>api-token</key>
		<string>a42b6d2f81c8ca1d0c30e5c99149b8f5</string>
		<key>private-api-token</key>
		<string>a23b10d30b1a2b726bd2873baa26a0a7220382e6</string>
		<key>serverURL</key>
		<string>https://gateway.marvel.com</string>
		<key>basePath</key>
		<string>/v1/public</string>
	</dict>
	<key>staging</key>
	<dict>
		<key>api-token</key>
		<string>a42b6d2f81c8ca1d0c30e5c99149b8f5</string>
		<key>private-api-token</key>
		<string>a23b10d30b1a2b726bd2873baa26a0a7220382e6</string>
		<key>serverURL</key>
		<string>https://gateway.marvel.com</string>
		<key>basePath</key>
		<string>/v1/public</string>
	</dict>
</dict>
</plist>
