<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integration</key>
	<dict>
		<key>api-token</key>
		<string>2341251251235</string>
		<key>private-api-token</key>
		<string>123513613487509834608234724</string>
		<key>serverURL</key>
		<string>https://int.server.com</string>
		<key>basePath</key>
		<string>/v1/public</string>
	</dict>
	<key>production</key>
	<dict>
		<key>api-token</key>
		<string>8281989128282</string>
		<key>private-api-token</key>
		<string>1928374123764917283640871263</string>
		<key>serverURL</key>
		<string>https://pro.server.com</string>
		<key>basePath</key>
		<string>/v1/public</string>
	</dict>
	<key>staging</key>
	<dict>
		<key>api-token</key>
		<string>128039471029387</string>
		<key>private-api-token</key>
		<string>1237480192374097123894710234</string>
		<key>serverURL</key>
		<string>https://stg.server.com</string>
		<key>basePath</key>
		<string>/v2/public</string>
	</dict>
</dict>
</plist>
